/* Global styles go in here. Page specific styles should be placed in the relative css file. */

h1 {
  font-family: Quicksand;
}

h2 {
  font-family: Quicksand;
}

h3 {
  font-family: Quicksand;
}

.title {
  margin-left: 1rem;
}
